<h2><%=l(:label_custom_field)%> (<%=l(@custom_field.type_name)%>)</h2>

<% labelled_tabular_form_for :custom_field, @custom_field, :url => { :action => "update", :id => @custom_field }, :html => { :method => :put } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= submit_tag l(:button_save) %>
<% end %>
