<h2><%=l(:label_document)%></h2>

<% form_tag({:action => 'update', :id => @document}, :method => :put, :class => "tabular") do %>
  <%= render :partial => 'form' %>
  <%= submit_tag l(:button_save) %>
<% end %>


